In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("nlp-challenge.csv")

In [3]:
df.head()

     Annotator ID                                               Text  Answer
0  A1MG8KNVSVZ365  @cz_binance Thanks for being upfront about thi...    True
1  A3OCJJMRKAIJZA  @cz_binance Thanks for being upfront about thi...    True
2   AQIP3DSYXEXX5  @cz_binance Thanks for being upfront about thi...    True
3  A1MG8KNVSVZ365  @cz_binance The speed with which Binance has r...   False
4  A3MV3PT4TOO69P  @cz_binance The speed with which Binance has r...    True

In [4]:
df.Text[0]

"@cz_binance Thanks for being upfront about this CZ. Your fans still believe in you. Plug the holes that need to be plugged. You'll be fine. Good luck."

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36417 entries, 0 to 36416
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Annotator ID  36417 non-null  object
 1   Text          36417 non-null  object
 2   Answer        36417 non-null  bool
dtypes: bool(1), object(2)
memory usage: 604.7+ KB

In [8]:
df.describe()

,Annotator ID,Text,Answer
count,36417,36417,36417
unique,52,12137,2
top,A3MV3PT4TOO69P,@kucoincom Ummmmm Did you guys get hacked? Th...,True
freq,5126,4,19783

In [9]:
df['Answer'] = df['Answer'].astype(int)

In [10]:
df.head()

     Annotator ID                                               Text  Answer
0  A1MG8KNVSVZ365  @cz_binance Thanks for being upfront about thi...       1
1  A3OCJJMRKAIJZA  @cz_binance Thanks for being upfront about thi...       1
2   AQIP3DSYXEXX5  @cz_binance Thanks for being upfront about thi...       1
3  A1MG8KNVSVZ365  @cz_binance The speed with which Binance has r...       0
4  A3MV3PT4TOO69P  @cz_binance The speed with which Binance has r...       1

In [11]:
answer_freq = df.groupby('Annotator ID')['Answer'].mean()

In [13]:
answer_freq

Annotator ID
A16184N1RO5OJV    0.647059
A198H320N5MSXX    0.500000
A19X8IA9EKC3XH    0.995338
A1DP551UV06FN6    0.358974
A1G187YBG0DVMQ    0.666667
A1M5BJTQIXCM33    0.201613
A1MG8KNVSVZ365    0.542825
A1MJVTR0PCKBWW    0.940816
A1R0689JPSQ3OF    0.290323
A1SN0UU3V61IIM    1.000000
A1YSYI926BBOHW    0.559524
A27W025UEXS1G0    1.000000
A292TFDMNVS0TP    0.333333
A2A78DMGLC1S0Y    0.470000
A2CJFO19NY4T5R    0.065217
A2GM5BW75YCKKW    0.645658
A2GO2OXS4VM1PR    0.000000
A2HM35CWB7IIFM    0.808219
A2JP9IKRHNLRPI    0.333333
A2KHLJ2F58BEZK    0.179487
A2LU259QPV1I4V    0.396802
A2QTL039A5VV3I    1.000000
A2R25RH05K0B68    0.791667
A2R28HXAEFKBPC    0.571429
A2VQBOJJ8HD6W9    0.200000
A2WPHVMLLEV5ZB    0.395210
A3124SRR191UIL    0.536585
A33B85TN97HQ33    0.567010
A33Y36Y252Z30U    0.040404
A3BCKNE5CWHODZ    0.781705
A3BISMR4GI02ZG    0.257732
A3BJX6UUSOIKFN    0.989810
A3HYCA7N5F6DL9    0.641791
A3MV3PT4TOO69P    0.599493
A3OCJJMRKAIJZA    0.717457
A9HQ3E0F2AGVO     0.026294
AAX9LTAOIBECD     0.055556
AC95JAUAM2L2Z     0.571429
AD1ILDUXZHASF     0.303371
AG36U7IOG2LAP     0.388000
AGRYG65WJ1CKJ     0.228856
AJQGWGESKQT4Y     0.711111
AKQAI78JTXXC9     0.250000
AKSJ3C5O3V9RB     1.000000
AKSLU0C30G3JT     0.636364
AMYURTQIMAC8T     0.156015
AOOF0H0EIEFFQ     0.945133
AQIP3DSYXEXX5     0.541078
AR9AU5FY1S3RO     0.303030
ARW1TCHCLEK1W     0.572937
AXY0D2AMLKE2A     0.000000
AYTH0E5PUXWX8     0.292824
Name: Answer, dtype: float64

In [24]:
suspected_bots = answer_freq[(answer_freq > 0.95) | (answer_freq < 0.05)]

In [25]:
suspected_bots

Annotator ID
A19X8IA9EKC3XH    0.995338
A1SN0UU3V61IIM    1.000000
A27W025UEXS1G0    1.000000
A2GO2OXS4VM1PR    0.000000
A2QTL039A5VV3I    1.000000
A33Y36Y252Z30U    0.040404
A3BJX6UUSOIKFN    0.989810
A9HQ3E0F2AGVO     0.026294
AKSJ3C5O3V9RB     1.000000
AXY0D2AMLKE2A     0.000000
Name: Answer, dtype: float64